Repository jesh-hub/account-book-slim, pull requests merged in 2022-07, with the labels that each got.

#92 feat: backend 디렉토리 구조 변경, 결제 방법 API
  .github/workflows/backend-cicd.yml
  back-end/cmd/app.go
  back-end/controller/group_c.go
  back-end/controller/payment_method_c.go
  back-end/controller/user_c.go
  back-end/database/database.go
  back-end/internal/abs/database_test.go
  back-end/internal/abs/group.go
  back-end/internal/abs/group_test.go
  back-end/internal/abs/payment.go
  back-end/internal/abs/router.go
  back-end/main.go
  back-end/package.json
  back-end/router/router.go
  back-end/serverless.yml
  back-end/service/group_s.go
  back-end/service/jwt.go
  back-end/service/payment_method_s.go
  back-end/service/user_s.go
  back-end/tests/payment_test.go
  back-end/tests/user_test.go
  back-end/user/signup/main.go
  back-end/util/converter.go
  back-end/util/dotenv.go
  back-end/util/error_handler.go
Labels: backend

#94 87 feat 구글 로그인 지원하기
  front-end/.env
  front-end/.gitignore
  front-end/package.json
  front-end/src/App.js
  front-end/src/App.scss
  front-end/src/_bak/OldApp.js
  front-end/src/_bak/OldApp.scss
  front-end/src/_bak/OldApp.test.js
  front-end/src/index.js
  front-end/src/pages/Login.jsx
  front-end/src/pages/Login.scss
Labels: frontend

#96 95: 구글 클라이언트 id 참조 변수 수정하기
  .github/workflows/frontend-cicd.yml
  front-end/.env.development
  front-end/.gitignore
  front-end/src/pages/Login.jsx
Labels: DevOps, frontend

#99 fix: cors 이슈
  .github/workflows/backend-cicd.yml
  back-end/cmd/app.go
  back-end/main.go
  back-end/middleware/middleware.go
  back-end/serverless.yml
Labels: backend, AWS

#102 fix: http body json 파라미터를 QueryString 파라미터로 변경
  back-end/cmd/app.go
  back-end/controller/payment_c.go
  back-end/service/payment_s.go
Labels: bug, backend, AWS

#106 fix: react-router 라우팅 안 되는 문제 해결하기
  front-end/src/App.js
  front-end/src/pages/MainApp.jsx
Labels: bug, frontend
